<h1>Dice Roll</h1>
<ul>
  <li><a href="<%= url_for(controller: :dice, action: :two_six) %>">Roll two 6-sided dice</a></li>
  <li><a href="<%= url_for(controller: :dice, action: :two_ten) %>">Roll two 10-sided dice</a></li>
  <li><a href="<%= url_for(controller: :dice, action: :one_twenty) %>">Roll one 20-sided die</a></li>
  <li><a href="<%= url_for(controller: :dice, action: :five_four) %>">Roll five 4-sided dice</a></li>
</ul>
